---
layout: default
title: TEAPOT
---
%img{:alt => "I'm a teapot", :src => "/asset/image/teapot.jpg", :style => "margin: 0 auto; display: block;"}
%h1{:style => "text-align: center;"}
	Error 418: I'm a teapot

%h4{:style => "text-align: center;"}
	This lil kitten is dedicated to my wonderful girlfriend Daria.