---
layout: default
title: Leo P Martel
---

%h1.home-header
    Hi there!
%p
    My name's Leo, and this is my website. Welcome! I love what you've done with your hair.
%h4.home-header
    About me:
%p
    I like to write software, read, teach, sing, make jokes, play games and lift weights. Emacs can run Vim but Vim can't run Emacs. Indent with tabs, align with spaces. The P stands for Patrick.
%h4.home-header
    About the site:
%p
    Here you can read <a href="/blog">my programming blog</a>, look at some of my <a href="/projects">side projects</a>, check out <a href="/resume">my credentials</a> if you're a recruiter or bored, or just <a href="//leo.pub">say hi</a>. More is coming, but probably not soon.
