---
layout: default
title: Leo P Martel
---

%h1.home-header
    Hi there!
%p
    My name's Leo, and this is my website. Welcome! I love what you've done with your hair.
%h4.home-header
    About me:
%p
    I graduated from Stanford University with a Bachelor's Degree in Computer Science, concentrating in Theory and Systems. I spent a wonderful summer building open source software in New York City at the <a href="//recurse.com">Recurse Center</a>. I built infrastructure for a while at <a href="//asana.com">Asana</a>, and now I'm at a small startup working on sustainable agriculture and quantified health. It's pretty neat.
%p
    I like to write software (and occasionally words), read, teach, sing, play games and lift weights. Emacs can run Vim but Vim can't run Emacs. Indent with tabs, align with spaces. The P stands for Patrick.
%h4.home-header
    About the site:
%p
    Here you can read <a href="/blog">my programming blog</a>, look at some of my <a href="/projects">side projects</a>, check out <a href="/resume">my credentials</a> if you're a recruiter or bored, or just <a href="//leo.pub">say hi</a>. More is coming, but probably not soon.
