---
layout: default
title: RESUME
---
.resume-date
    Last updated 
    %span{:class => "resume-date-value"}
        {{ site.resume_date }}

.resume-download
    %a{:href => "{{ site.resume_url }}"}
        Download (right click > "Save As")

%iframe{:src => "{{ site.resume_url }}", :class => "resume-iframe"}
