---
layout: default
title: RESUME
---
.resume-date
    Last updated 
    %span{:class => "resume-date-value"}
        January 21, 2013

.resume-download
    %a{:href => "https://dl.dropboxusercontent.com/u/84750930/lmartel_resume.pdf"}
        Download (right click > "Save As")

%iframe{:src => "https://dl.dropboxusercontent.com/u/84750930/lmartel_resume.pdf", :class => "resume-iframe"}
