---
layout: default
title: RESUME
---
.resume-date
    Last updated 
    %span{:class => "resume-date-value"}
        {{ site.resume_date }}

.resume-download
    %a{:href => "{{ site.resume_url }}"}
        Download (right click > "Save As")

%object{:data => "{{ site.resume_url }}", :type => "application/pdf", :class => "resume-iframe"}
    %p 
        It looks like you don't have a PDF plugin for this browser. You can 
        %a{:href => "{{ site.resume_url }}"}
            download the PDF 

        instead.
