// -*- sass -*-
//
// ZURB Foundation
//

@import "_settings";
@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

// Responsive layout

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";
@import "foundation/components/grid";

// Core Styles

@import "modular-scale";
@import "foundation/common/globals";
@import "foundation/common/typography";
@import "foundation/components/modules/topbar";

//
// Site-specific code below.
//

.orbit-wrapper { width: 100% !important; height: 350px !important; }

body {
  background-image: url("../image/mooning_@2X.png");
}

.top-bar h1, .top-bar { 
  font-family: "Audiowide", "Helvetica", Helvetica, Arial, sans-serif;
}

h6 {
  color: #8C75CD;
}

hr {
  border: solid #2A2A2A;
  border-width: 1px 0 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content-background {
  background: rgba(255, 255, 255, 0.33);
  position: fixed;
  top: 0;
  bottom: 0;
  width: inherit;
  z-index: -1;
}

.content, footer .twelve-columns {
  margin: 0 25px;
}

// still thinking about whether I want the footer
footer {
  display: none !important;
}

