// -*- sass -*-
//
// ZURB Foundation
//

@import "_settings";
@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

// Responsive layout

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";
@import "foundation/components/grid";

// Core Styles

@import "modular-scale";
@import "foundation/common/globals";
@import "foundation/common/typography";
@import "foundation/components/modules/topbar";

//
// Site-specific code below.
//

.orbit-wrapper { width: 100% !important; height: 350px !important; }

body {
  background-image: url("../image/mooning_@2X.png");
  margin-top: 45px;
}

.top-bar .title-area .name h1 a {
  font-size: 41px !important;
  margin-top: 1px;
}

.top-bar h1, .top-bar, .parallelogram p { 
  font-family: "Audiowide", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar ul:not(.title-area) {

  li a {
    border: solid #4ecdc4;
    border-width: 0 0 0 1px;
    //margin-left: -1px;
  }

  li:last-child a {
    border-width: 0 1px;
  }

  li.selected {

    //background: #040404;
    background: #4ecdc4;

    a {
      //color: #288d86;
      color: #2A2A2A;
      border-bottom-color: #703D84;
      border-width: 0 0 8px;
    }

    + li a { //since navbar items share borders we need to turn off the one to the right
        border-width: 0;
    }

  }

}

h6 {
  color: #703D84;
}

hr {
  border: solid #2A2A2A;
  border-width: 1px 0 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content-background {
  background: rgba(255, 255, 255, 0.33);
  position: fixed;
  top: 0;
  bottom: 0;
  width: inherit;
  z-index: -1;
}

.content, footer .twelve-columns {
  margin: 0 25px;
}

// still thinking about whether I want the footer
footer {
  display: none !important;
}

.parallelogram-wrapper {

  border: 1px solid #2A2A2A;
  background: #4ecdc4;
  margin-right: 220px;
  padding-left: 15px;
  margin-top: 25px;

  .parallelogram{
    border: 30px #703D84 solid;
    border-top-width: 0px;
    border-bottom-width: 0px;

    margin-left: 200px;
    width:300px;
    height:200px;
    background: #2A2A2A;
    transform: skew(-65deg);
    -o-transform: skew(-65deg);
    -moz-transform: skew(-65deg);
    -webkit-transform: skew(-65deg);

    p {
      color: #4ecdc4;
      font-size: 50px;
      margin-left: -100px;
      padding-top: 30px;
      transform: skew(65deg) rotate(-25deg);
      -o-transform: skew(65deg) rotate(-25deg);
      -moz-transform: skew(65deg) rotate(-25deg);
      -webkit-transform: skew(65deg) rotate(-25deg);
    }
  }
}