!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width" }

        {%if page.title %}
        %title {{ page.title }} - {{ site.title }}
        {% else %}
        %title {{ site.title }}
        {% endif %}

        %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/app.css" }
        %link{:rel => "alternate",  :href => "{{ site.url }}/atom.xml", :type => "application/atom+xml",  :title => "Sitewide ATOM Feed"}
    %body
        .contain-to-grid
            %nav.top-bar
                %ul
                    %li.name
                        %h1
                            %a{:href => "{{ site.url }}"} {{ site.title }}
                %section
                    %ul.right
                        %li
                            %a{:href => "{{ site.url }}/about/"} About
        .row
            .twelve-columns
                {% if page.title %}
                %h1 {{ page.title }}
                {% endif %}


                {% if page.header %}
                %img{:alt => "Header", :src => "{{ site.url }}/asset/image/header/{{ page.header }}"}
                {% endif %}

                {{ content }}

        %footer
            .row
                .twelve-columns &copy; 2013 {{ site.author }}. All rights reserved.
