!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width" }

        {%if page.title %}
        %title {{ page.title }} - {{ site.title }}
        {% else %}
        %title {{ site.title }}
        {% endif %}

        %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/app.css" }
        %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/orbit-1.2.3.css" }
        %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Audiowide" }
        %link{:rel => "alternate",  :href => "{{ site.url }}/atom.xml", :type => "application/atom+xml",  :title => "Sitewide ATOM Feed"}
        %link{:rel => "javascript", :href => "{{ site.url }}/asset/javascripts/vendor/custom.modernizr.js"}
    %body
        .contain-to-grid.fixed
            %nav.top-bar
                %ul.title-area
                    %li.name
                        %h1
                            %a{:href => "{{ site.url }}"} {{ site.title }}
                    %li.toggle-topbar.menu-icon
                        %a{:href => "#"}
                            %span

                %section.top-bar-section
                    %ul.right
                        %li
                            %a{:href => "{{ site.url }}/", :id => "home"} HOME
                        %li
                            %a{:href => "{{ site.url }}/about/", :id => "about"} ABOUT
                        %li
                            %a{:href => "{{ site.url }}/projects/", :id => "projects"} PROJECTS
                        %li
                            %a{:href => "{{ site.url }}/resume/", :id => "resume"} RESUME
                        %li
                            %a{:href => "{{ site.url }}/contact/", :id => "contact"} CONTACT


        .row
            .twelve-columns.content

                .parallelogram-wrapper
                    .parallelogram
                        %p
                            {{ page.title }}

                .hero
                            
                {% if page.title %}
                %h1 {{ page.title }}
                {% endif %}


                {% if page.header %}
                %img{:alt => "Header", :src => "{{ site.url }}/asset/image/header/{{ page.header }}"}
                {% endif %}

                {{ content }}


            .content-background

        %footer
            .row
                .twelve-columns &copy; 2013 {{ site.author }}. All rights reserved.

        %script{:src => "{{ site.url }}/asset/javascripts/vendor/custom.modernizr.js"}

        %script{:src => "{{ site.url }}/asset/javascripts/vendor/jquery.js"}

        %script{:src => "{{ site.url }}/asset/javascripts/app.js"}
