!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width" }

        {%if page.title %}
        %title {{ page.title }} - {{ site.title }}
        {% else %}
        %title {{ site.title }}
        {% endif %}

        %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/app.css" }
        %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/orbit-1.2.3.css" }
        %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Audiowide" }
        %link{:rel => "alternate",  :href => "{{ site.url }}/atom.xml", :type => "application/atom+xml",  :title => "Sitewide ATOM Feed"}
        %link{:rel => "javascript", :href => "{{ site.url }}/asset/javascript/vendor/custom.modernizr.js"}
    %body
        .contain-to-grid.fixed
            %nav.top-bar
                %ul.title-area
                    %li.name
                        %h1
                            %a{:href => "{{ site.url }}"} {{ site.title }}
                    %li.toggle-topbar.menu-icon
                        %a{:href => "#"}
                            %span

                %section.top-bar-section
                    %ul.right
                        %li
                            %a{:href => "{{ site.url }}/", :id => "nav-home"}
                                HOME
                        %li
                            %a{:href => "{{ site.url }}/about/", :id => "nav-about"}
                                ABOUT
                        %li
                            %a{:href => "{{ site.url }}/blog/", :id => "nav-blog"}
                                BLOG
                        %li
                            %a{:href => "{{ site.url }}/projects/", :id => "nav-projects"}
                                PROJECTS
                        %li
                            %a{:href => "{{ site.url }}/resume/", :id => "nav-resume"}
                                RESUME
                        %li
                            %a{:href => "{{ site.url }}/contact/", :id => "nav-contact"}
                                CONTACT

                %a{:href => "http://github.com/lmartel"}
                    .github-link


        .row
            .twelve-columns.content

                .parallelogram-wrapper
                    .parallelogram
                        %p{:class => "title {{ page.title | replace: '.', '' | replace: ' ', '' | downcase }}"}
                            {{ page.title }}

                .hero


                {% if page.header %}
                %img{:alt => "Header", :src => "{{ site.url }}/asset/image/header/{{ page.header }}"}
                {% endif %}

                {{ content }}


            .content-background

        / Check for Zepto support, load jQuery if necessary
        %script
            document.write('<script src=/asset/javascript/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');


        %script{:src => "{{ site.url }}/asset/javascript/app.js"}
