<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width' name='viewport'>
    {%if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <link href='/asset/css/app.css' rel='stylesheet'>
    <link href='/asset/css/vendor/jquery.bxslider.css' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <link href='/atom.xml' rel='alternate' title='Sitewide ATOM Feed' type='application/atom+xml'>
    <link href='/asset/javascript/vendor/custom.modernizr.js' rel='javascript'>
  </head>
  <body>
    <div class='contain-to-grid fixed'>
      <nav class='top-bar'>
        <ul class='title-area'>
          <li class='name'>
            <h1>
              <a href='/'>{{ site.title }}</a>
            </h1>
          </li>
          <li class='toggle-topbar menu-icon'>
            <a href='#'>
              <span></span>
            </a>
          </li>
        </ul>
        <section class='top-bar-section'>
          <ul class='right'>
            <li>
              <a href='/' id='nav-home'>
                HOME
              </a>
            </li>
            <li>
              <a href='/blog/' id='nav-blog'>
                BLOG
              </a>
            </li>
            <li>
              <a href='/projects/' id='nav-projects'>
                PROJECTS
              </a>
            </li>
            <li>
              <a href='/resume/' id='nav-resume'>
                RESUME
              </a>
            </li>
            <li>
              <a href='{{ site.pub_url }}' id='nav-contact'>
                CONTACT
              </a>
            </li>
            <li>
              <a href='{{ site.github_url }}' id='nav-github'>
                <div class='github-link'></div>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class='row'>
      <div class='twelve-columns content'>
        <div class='parallelogram-wrapper'>
          <div class='parallelogram'>
            <p class="title {{ page.title | replace: '.', '' | replace: ' ', '' | downcase }}">
              {{ page.title }}
            </p>
          </div>
        </div>
        <div class='hero'></div>
        {% if page.header %}
        <img alt='Header' src='/asset/image/header/{{ page.header }}'>
        {% endif %}
        {{ content }}
        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="application/javascript">
          var disqus_config = function () {
              this.page.url = "http:{{ site.url | append: page.url }}";
              this.page.identifier = "{{ page.permalink}}";
              this.page.title = "{{ page.heading }}";
          };
          (function() { // Embed Disqus comments
              var d = document, s = d.createElement('script');
              s.src = 'https://lpm-io.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
        </script>
        {% endif %}
      </div>
      <div class='content-background'></div>
    </div>
    <script src='/asset/javascript/vendor/jquery.js'></script>
    <script src='/asset/javascript/vendor/jquery-bxslider-min.js'></script>
    <script src='/asset/javascript/vendor/flowchart.js'></script>
    <script src='/asset/javascript/vendor/raphael.js'></script>
    <script src='/asset/javascript/app.js'></script>
  </body>
</html>
